<html>
    <head>
        <title>Drone Web Interface</title>
        
        
        <link href = "{{ url_for('static', filename='canvas.css') }}" rel="stylesheet" type="text/css">
        
    </head>
    
    <body>
        <div id="upper" style="text-align:center;">
            <canvas class="cnv" id="up-left" width="100" height="100"></canvas>
            <canvas class="cnv" id="up" width="100" height="100"></canvas>
            <canvas class="cnv" id="up-right" width="100" height="100"></canvas>
        </div>
        <div id="middle" style="text-align:center;">
            <canvas id="left" class="cnv" width="100" height="100"></canvas>
            <canvas width="100" height="100"></canvas>
            <canvas id="right" class="cnv" width="100" height="100"></canvas>
        </div>
        <div id="lower" style="text-align:center;">
            <canvas class="cnv" id="down-left" width="100" height="100"></canvas>
            <canvas id="down" class="cnv" width="100" height="100"></canvas>
            <canvas class="cnv" id="down-right" width="100" height="100"></canvas>
        </div>
        
        <div id="control">
            <canvas id="brakecanvas" width="150" height="100" style="background-color:  darkgreen; border:3px solid"></canvas>
        </div>
    </body>
    
    <script type="text/javascript" src="{{ url_for('static', filename = 'keypress.js') }}" %}"></script>
    <script type="text/javascript">

        
        //Used to understand the current key combo
        var pressingUp = false;
        var pressingDown = false;
        var pressingLeft = false;
        var pressingRight = false;
        var pressingSpace = false;
        
        var xhttp = new XMLHttpRequest();
        
        //Url to which send the request
        var request_url = "{{ url_for ('command_reader') }}";
                
        //Key listener from the keypress library
        var listener = new window.keypress.Listener();

        //Registering the key listeners
        listener.register_combo({
            "keys" : "w",
            "on_keydown" : function(){
                pressingUp = true;
                handleAction();
                
            },
            
            "on_keyup" : function(){
                pressingUp = false;
                handleAction();
            },
            
            "prevent_repeat" : true,
            "is_esclusive" : true,
        });
        
        listener.register_combo({
            "keys" : "d",
            "on_keydown" : function(){
                pressingRight = true;
                handleAction();
            },
            
            "on_keyup" : function(){
                pressingRight = false;
                handleAction();
            },
            
            "prevent_repeat" : true,
            "is_esclusive" : true,
        });
        
        listener.register_combo({
            "keys" : "s",
            "on_keydown" : function(){
                pressingDown = true;
                handleAction();
            },
            
            "on_keyup" : function(){
                pressingDown = false;
                handleAction();
            },
            
            "prevent_repeat" : true,
            "is_esclusive" : true,
        });
        
        listener.register_combo({
            "keys" : "a",
            "on_keydown" : function(){
                pressingLeft = true;
                handleAction();
            },
            
            "on_keyup" : function(){
                pressingLeft = false;
                handleAction();
            },
            "prevent_repeat" : true,
            "is_esclusive" : true,
        });
        
        listener.register_combo({
            "keys" : "space",
            "on_keydown" : function(){
                pressingSpace = true;
                handleAction();
            },
            
            "on_keyup" : function(){
                pressingSpace = false;
                handleAction();
            },
            "prevent_repeat" : true,
            "is_esclusive" : true,
        });
        
        var buttons = document.getElementsByClassName("cnv");
        for(var i = 0; i < buttons.length; ++i){
            buttons[i].addEventListener("touchstart", function(e){manageClick(e)});
            buttons[i].addEventListener("touchend", function(e){manageClick(e)});
        }
        
        function manageClick(event){
            var callerId = event.target.id;
            var pressed = true;
            if(event.type == "touchend"){
                pressed = false;
            }
            if(callerId == "up"){
                pressingUp = pressed;
            }else if(callerId == "up-left"){
                pressingUp = pressed;
                pressingLeft = pressed;
            }else if(callerId == "up-right"){
                pressingUp = pressed;
                pressingRight = pressed;
            }else if(callerId == "left"){
                pressingLeft = pressed;
            }else if(callerId == "right"){
                pressingRight = pressed;
            }else if(callerId == "down-left"){
                pressingDown = pressed;
                pressingLeft = pressed;
            }else if(callerId == "down-right"){
                pressingDown = pressed;
                pressingRight = pressed;
            }else if(callerId == "down"){
                pressingDown = pressed;
            }else if(callerId == "space"){
                pressingSpace = pressed;
            }
            handleAction();
        }
        //Handle action makes the system behave in the correct way 
        //according to the keys that are currently being pressed.
        function handleAction(){
            
            //Set all to none
            clearAllActions();
            
            if(pressingUp && pressingLeft){
                
                //Go upper left
                document.getElementById('up-left').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['up_left'] }}");
                
            }else if(pressingUp && pressingRight){
                
                //Go upper right
                document.getElementById('up-right').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['up_right'] }}");
                
            }else if(pressingDown && pressingRight){
                
                //Go lower right
                document.getElementById('down-right').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['down_right'] }}");
                
            }else if(pressingDown && pressingLeft){
                
                //Go lower left
                document.getElementById('down-left').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['down_left'] }}");
                
            }else if(pressingDown){
                
                //Go down
                document.getElementById('down').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['down'] }}");
                
            }else if(pressingLeft){
                
                //Go left
                document.getElementById('left').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['left'] }}");
                
            }else if(pressingUp){
                
                //Go up
                document.getElementById('up').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['up'] }}");
                
            }else if(pressingRight){
                
                //Go right
                document.getElementById('right').style.backgroundColor = 'red';
                sendCommand("{{ command_bindings['right'] }}");
                
            }else if(pressingSpace){
                
                //Stop/brake
                document.getElementById('brakecanvas').style.backgroundColor = 'forestgreen';
                sendCommand("{{ command_bindings['stop'] }}");
                
            }else{
                sendCommand("{{ command_bindings['stop'] }}");
            }
        }
        
        function clearAllActions(){
            sendCommand("{{ command_bindings['stop'] }}");
            document.getElementById('up-left').style.backgroundColor = 'white';
            document.getElementById('up-right').style.backgroundColor = 'white';
            document.getElementById('down-right').style.backgroundColor = 'white';
            document.getElementById('down-left').style.backgroundColor = 'white';
            document.getElementById('down').style.backgroundColor = 'white';
            document.getElementById('left').style.backgroundColor = 'white';
            document.getElementById('up').style.backgroundColor = 'white';
            document.getElementById('right').style.backgroundColor = 'white';
            document.getElementById('brakecanvas').style.backgroundColor = 'darkgreen';
            
        }
        
        function sendCommand(command){
            xhttp.open("POST", request_url, true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var str = "command=" + command + "&argument=null";
            str += "&command_type=AXS";
            xhttp.send(str);  
            
        }
    </script>
</html>